%nav#main
  =link_to 'home', root_path, is_controller_active?("home")
  =link_to 'projects', projects_path, is_controller_active?("projects, categories")
  =link_to 'contact', contact_path, is_controller_active?("contacts")
  
