%hgroup
  :markdown
    ##I'm a **Product Manager** and **Rails Developer**
    ##with a passion for **powerfully simple products**
%div#recent_projects
  %h3 Recent Projects
  %ul#recent_projects
    - @projects.each do |project|
      %li
        = link_to(image_tag(project.assets.first.image.url(:small), :title => project.name), project_path(project)) unless project.assets.empty?
        = link_to project.name, project_path(project)
  %div#more_projects
    =link_to 'View all Projects', projects_path, :class => "button"
