- @title = "All Luiz Branco's Projects"
%h2 Projects
- if admin?
  = link_to new_project_path, :class => 'btn btn-success' do
    %i.icon-plus.icon-white
    New Project
  %hr
.row
  %ul.thumbnails.span8#project_list
    = render @projects
  .span4
    %h3 Categories
    %ul.nav.nav-pills.nav-stacked#category_menu
      %li{'data-category' => 'all', :class => 'active'}= link_to 'All Categories', categories_path
      - @categories.each do |category|
        %li{'data-category' => normalize_name(category)}= link_to category.name, category_path(category)
