%h3= @project.title
%p= @project.description
= link_to 'Edit', edit_project_path(@project) if admin?
= link_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?' if admin?
