%h2 Roles
= link_to 'New Role', new_role_path
%ul
  - @roles.each do |role|
    %li
      = role.name
      = link_to 'Edit', edit_role_path(role)
      = link_to 'Delete', role_path(role), :method => :delete, :confirm => 'Are you sure?'
