:markdown
  ## About me
  Since I built my first site in 1998, Internet has changed substantially but my desire to create simple products is the same. User-centered design has many definitions, to me is just designing to solve users problems. If you are worried about adding more features and forgetting what your users are trying to accomplish, you are doing it wrong
  
  I'm very eager to learn and this combines extremely well with my near-compulsion for reading. As a result, I constantly teaching myself new technologies and ways to improve my work.
  
  As you can see from my site, I'm fascinated by games, and I've created a few games for Android during my spare time. If you like my work or just want to chat about good old games, please [get in touch](#{contact_path} "Contact").
  
  ###Where to find me
  * [GitHub](http://github.com/luizbranco)
  * [LinkedIn](http://linkedin.com/in/luizbranco)
