:markdown
  ## About me
  I excel at collaborative product design for early-stage startups who seek rapid and responsive design strategy, as well as with large businesses seeking disruptive change and innovation.

  As a product strategist, I help teams to integrate the "build-measure-learn" cycles for continuous validated learning. I have great experience working on fast paced environment using Lean techniques focused on small batches and incremental releases.

  My core product design skills include user research, user roles and scenarios creation, acceptance tests, product visioning, sketching, wireframes, prototypes and guerrilla usability techniques.

%h2 Where to find me
= link_to 'http://github.com/luizbranco', :class => 'btn' do
  %i.icon-folder-open
  Github
= link_to 'http://linkedin.com/in/luizbranco', :class => 'btn' do
  %i.icon-user
  LinkedIn
