field_set.roles, field_set.categories
  margin-top: 20px
  display: block
  legend
    font-size: 120%
    font-weight: bold
  input
    display: inline
  label
    display: inline
    margin-right: 20px

body.projects#index, body.categories#show
  ul#project_list
    > li
      display: block
      overflow: auto
      padding: 10px 5px
      border-bottom: 1px solid #ddd
      img
        float: left
        margin-right: 10px
        border: 1px solid #BDBDBD
        padding: 4px
        border-image: initial
        &:hover
          border-color: #999
          -webkit-transform: scale(1.01)
          -moz-transform: scale(1.01)
          transform: scale(1.01)
          -moz-box-shadow: 0 0 10px #aaa
          -webkit-box-shadow: 0 0 10px #aaa
          box-shadow: 0 0 10px #aaa
      div
        h4
          font-size: 110%
        p
          font-size: 90%
          margin-top: 5px
          margin-bottom: 10px
        ul.project_roles, ul.project_categories
          margin: 2px 0
          li
            display: inline
            font-size: 80%
            color: #777
            margin-right: 5px

  ul#category_menu
    li
      display: block
      font-size: 14px
      border-bottom: 1px solid #ddd
      &:hover
        background-color: #eee
        cursor: pointer
      a
        display: block
        padding: 5px
        &.category_active
          background-color: #eee
          
body.projects#show
  p
    margin-bottom: 0.8em
  ul#project_roles, ul#project_categories
    margin: 10px 0
    li
      display: inline
      margin-right: 5px
