.project_launch, .project_categories, .project_roles
  font-size: 12px
  margin-top: 5px
  h4
    display: inline
    font-size: 12px
  ul
    margin: 0
    display: inline
    li
      display: inline
      margin-left: 5px
