= error_messages_for(category)
= form_for category, :html => {:class => "form-inline"} do |f|
  %div.control-group
    =f.label :name
    =f.text_field :name, :autofocus => true
    =f.submit :class => 'btn btn-success'
